
<div style="margin: 0 auto;width:100%;">
		<ul class="origin">

<% @portals.sort_by(&:created_at).reverse.each do |portal| %>
		<ul class="">
			<li><h2><%= link_to portal.title, portal_path(portal) %></h2></li>
			<li class="tags">
				<% portal.tags.each do |tag|%>
					<div class="tag_display <%= tag.name %>"></div>
				<% end %> 
			</li>
			<li class="author">
				created by 
				<% if portal.user.character_name %>
				<%= portal.user.character_name %>
				<% else %>
				<%= portal.user.first_name %>
				<% end %>	
				on <%= portal.created_at.strftime('%D')
 %>
				</li>
			<% if portal.user.id == current_user.id %>
				<li class="user_links"><%= link_to "edit", edit_portal_path(portal) %> - <%= link_to 'delete', 
             portal_path(portal), 
                         method: :delete, 
                         data: { confirm: 'are you sure?' } %></li>

			<% end %>

		</ul>
<% end %>
</ul>
</div>

<style>
	ul  ul { 
	 	list-style: none;
	 	padding: 0px;
	 	margin: 5px;
	 	box-sizing: border-box;
	 	word-wrap: break-word;
	 	vertical-align: top;
	 }

	 h2 a{ text-decoration: none }

	 .origin { padding-left: 0; }

	 .author { font-size: 9pt; }
	 .user_links { margin-top: 10px; }
</style>