
<div style="margin: 0 auto;width:100%;">
<% @portals.each do |portal| %>
	<% if portal.id == 1 %>
		<ul id="origin">
	<% else %>
		<ul class="">
	<% end %>
			<li><h1><%= link_to portal.title, portal_path(portal) %></h1></li>
			<li class="themes">
				<!-- for themes in portal.themes, little 100% border divs with color coded nonsense -->
			</li>
			<li><p><%= portal.description.first(80)%>...</p></li>
			<li class="author"><%= portal.user.character_name %></li>
			<% if portal.user.id == current_user.id %>
				<li class="user_links"><%= link_to "edit", edit_portal_path(portal) %> - <%= link_to 'delete', 
             portal_path(portal), 
                         method: :delete, 
                         data: { confirm: 'This works and will actually delete this, permanently. I cannot get it back. So, up to you.' } %></li>

			<% end %>

		</ul>
<% end %>
</div>

<style>
	ul { 
	 	list-style: none;
	 	display: inline-block;
	 	padding: 25px;
	 	width: 24%; 
	 	box-sizing: border-box;
	 	word-wrap: break-word;
	 }


	 .author { font-size: 9pt; }
	 .user_links { margin-top: 10px; }
</style>