
<%= form_for @portal do |form| %>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>
 
  <p>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
  </p>

  <p>
    <%= form.hidden_field :origin_id, :value => params[:origin] %>
    <%= form.hidden_field :user_id, :value => current_user.id %>

    <%= form.submit %>
  </p>
<% end %>