<h1><%= @portal.title %></h1>
<% if @portal.user.id == current_user.id %>
	<p><%= link_to "edit", edit_portal_path(@portal) %> </p>
<% end %>
<h5><%= @portal.user.email %></h5>
<p><%= @portal.description %></p>




<div class="out-of-character">
  <h5>out of character</h5>
  <%= form_for([@portal, @portal.comments.build]) do |f| %>
    <p>
      <%= f.label :comment %><br>
      <%= f.text_area :body %>
    </p>
    <p>
      <%= f.hidden_field :user_id, :value => current_user.id %>
      <%= f.hidden_field :in_character, :value => false %>
      <%= f.submit "Create Comment", :id => "save-button" %>
    </p>
  <% end %>
  <% @portal.comments.each do |comment| %>
    <% if comment.in_character == false %>
    <p>
      <%= comment.user.email %>
    </p>
    <p>
      <%= comment.body %>
    </p>
    <% if comment.user == current_user %>
    <%= link_to 'Delete Comment', 
                         portal_comment_url(@portal, comment), 
                         method: :delete,
                         data: { confirm: 'Are you sure?' } %> 
    <% end %> 
    <% end %>
  <% end %>


</div>

<div class="in-character">
  <h5> in character </h5>
  <%= form_for([@portal, @portal.comments.build]) do |f| %>
    <p>
      <%= f.label :comment %><br>
      <%= f.text_area :body %>
    </p>
    <p>
      <%= f.hidden_field :user_id, :value => current_user.id %>
      <%= f.hidden_field :in_character, :value => true %>
      <%= f.submit "Create Comment", :id => "save-button" %>
    </p>
  <% end %>
  <% @portal.comments.each do |comment| %>
    <% if comment.in_character == true %>
    <p>
      <%= comment.user.email %>
    </p>
    <p>
      <%= comment.body %>
    </p>
    <% if comment.user == current_user %>
    <%= link_to 'Delete Comment', 
                         portal_comment_url(@portal, comment), 
                         method: :delete,
                         data: { confirm: 'Are you sure?' } %> 
    <% end %> 
    <% end %>
  <% end %>

</div>

