
<h1><%= @portal.title %></h1>
<% if @portal.user.id == current_user.id %>
	<p><%= link_to "edit", edit_portal_path(@portal) %> </p>
<% end %>
<h5><%= @portal.user.character_name %> <br>
  <span style="font-weight:normal"><%= @portal.created_at.strftime('%D') %></span></h5>
<p><%= @portal.description.html_safe %></p>


<div class="out_of_character">
  <%= form_for([@portal, @portal.comments.build]) do |f| %>
    <p>
 <%= f.text_area :body, :class => "comment", placeholder: "out of character comments" %>    </p>
    <p>
      <%= f.hidden_field :user_id, :value => current_user.id %>
      <%= f.hidden_field :in_character, :value => false %>
      <%= f.submit "Comment", :id => "save-button" %>
    </p>
  <% end %>
  <% @portal.comments.each do |comment| %>
    <% if comment.in_character == false %>
    <p class="comment-wrapper">
      <span style="font-weight: bolder">
      <% if comment.user.character_name %>
        <%= comment.user.character_name %>
      <% else %>
        <%= comment.user.first_name %>
      <% end %>
    </span>
      : <%= comment.body %>
    <span class="delete-comment">
    <% if comment.user == current_user %>
    <%= link_to 'X', 
                         portal_comment_url(@portal, comment), 
                         method: :delete,
                         data: { confirm: 'Are you sure?' } %> 
    <% end %> 
    </span>
    <% end %>
  <% end %>


</div>

<div class="in_character">
  <%= form_for([@portal, @portal.comments.build]) do |f| %>
    <p>
      <%= f.text_area :body, :class => "comment", placeholder: "in character comments" %>
    </p>
    <p>
      <%= f.hidden_field :user_id, :value => current_user.id %>
      <%= f.hidden_field :in_character, :value => true %>
      <%= f.submit "Comment", :id => "save-button" %>
    </p>
  <% end %>
  <% @portal.comments.each do |comment| %>
    <% if comment.in_character == true %>
      <p class="comment-wrapper">
      <span style="font-weight: bolder">
      <% if comment.user.character_name %>
        <%= comment.user.character_name %>
      <% else %>
        <%= comment.user.first_name %>'s Character
      <% end %>
    </span>
      : <%= comment.body %>
    <span class="delete-comment">
    <% if comment.user == current_user %>
    <%= link_to 'X', 
                         portal_comment_url(@portal, comment), 
                         method: :delete,
                         data: { confirm: 'Are you sure?' } %> 
    <% end %> 
    </span>
    <% end %>
  <% end %>

</div>


