<!DOCTYPE html>
<html>
  <head>
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,800|Oswald:400,600" rel="stylesheet">

    <title>Open World</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <ul>
      <% if current_user %>
              <li><%= link_to image_tag("return.png"), :back, :class=>"return icons" %></li>

     <li><%= link_to image_tag("home.png"), "/", :class=>"icons"%></li>
        <li><%= link_to image_tag("user.png"), "/users/#{current_user.id}", :class=>"icons"%></li>
        <li><%= link_to image_tag("003-new-file.png"), new_portal_path, :class=>"icons" %></li>
        <li><%= link_to(image_tag('logout.png'), destroy_user_session_path, method: :delete) %></li>        

      <% end %>
      </ul>
    </nav>
    <div class="page-wrapper">
  	  <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>

    <%= yield %>
  </div>
  </body>
</html>
