<!DOCTYPE html>
<html>
  <head>
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,800|Oswald:400,600" rel="stylesheet">

    <title>Open World</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <ul>
        <li><%= link_to image_tag("return.png"), :back, :class=>"return icons" %></li>
      <% if current_user %>
     <li><%= link_to image_tag("home.png"), "/", :class=>"icons"%></li>
        <li><%= link_to image_tag("user.png"), "/users/#{current_user.id}", :class=>"icons"%></li>
        <li><%= link_to image_tag("003-new-file.png"), new_portal_path, :class=>"icons" %></li>
      <% end %>
      </ul>
    </nav>
  	  <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
